div.startscreen
    div.container-fluid
        div.startscreen__wrap
            h1.startscreen__heading 
                span.startscreen__heading-chunk.mod_typing PHP
                span.startscreen__heading-chunk.mod_typing Ruby on rails
                span.startscreen__heading-chunk.mod_typing Design
                span.startscreen__heading-chunk.mod_typing Strategy