@font-face {
	font-family: "asm_regular";
	src: url("fonts/asm_regular-webfont.woff") format("woff"),
		 url("fonts/asm_regular-webfont.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: "asm_bold";
    src: url("fonts/asm_bold-webfont.woff") format("woff"),
         url("fonts/asm_bold-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ptsans_italic";
    src: url("fonts/ptsans_italic-webfont.woff") format("woff"),
         url("fonts/ptsans_italic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}