$base_backgroundColor: #fff; 
$base_fontSize: 20px;
$base_lineHeight: 1.5;
$base_color: #222;
$base_color__link: #051add;

$container_width: 1024px;
$container_padding__rl: 15px;
$containerFluid_padding__rl: 9%;

$asmReg_fontFamily: 'asm_regular', Arial, Helvetica, sans-serif;
$asmBold_fontFamily: 'asm_bold', Arial, Helvetica, sans-serif;
$ptsansItalic_fontFamily: 'ptsans_italic', Arial, Helvetica, sans-serif;

$color_black1: #000;
$color_black2: #0d0d0d;
$color_blue1: #081bcc;
$color_blue2: #051add;
$color_gray1: #676767;
$color_gray2: #ededed;
$color_gray3: #222;