section.clients.section
    div.container-fluid
        header.section__l_header
            h2.clients__heading.section__heading.mod_typing Technology index
            p.clients__desc.section__desc Pick from a dozen beautifully designed maps and add it to your application in just a few seconds. Our mobile iOS and Android SDKs and our JavaScript API for the web make it easy. Everything is open source.
        ul.clients__list
            li.clients__list-item.clients__item
                span.clients__item-logo
                    img(src="img/logo-anz.png", alt="")
            li.clients__list-item.clients__item
                span.clients__item-logo
                    img(src="img/logo-apple.png", alt="")
            li.clients__list-item.clients__item
                span.clients__item-logo
                    img(src="img/logo-citi.png", alt="")
            li.clients__list-item.clients__item
                span.clients__item-logo
                    img(src="img/logo-coach.png", alt="")
            li.clients__list-item.clients__item
                span.clients__item-logo
                    img(src="img/logo-dubai.png", alt="")
            li.clients__list-item.clients__item
                span.clients__item-logo
                    img(src="img/logo-ford.png", alt="")
            li.clients__list-item.clients__item
                span.clients__item-logo
                    img(src="img/logo-garp.png", alt="")
            li.clients__list-item.clients__item
                span.clients__item-logo
                    img(src="img/logo-hp.png", alt="")
            li.clients__list-item.clients__item
                span.clients__item-logo
                    img(src="img/logo-hyatt.png", alt="")
            li.clients__list-item.clients__item
                span.clients__item-logo
                    img(src="img/logo-m.png", alt="")
            li.clients__list-item.clients__item
                span.clients__item-logo
                    img(src="img/logo-nike.png", alt="")
            li.clients__list-item.clients__item
                span.clients__item-logo
                    img(src="img/logo-nissan.png", alt="")
            li.clients__list-item.clients__item
                span.clients__item-logo
                    img(src="img/logo-nokia.png", alt="")
            li.clients__list-item.clients__item
                span.clients__item-logo
                    img(src="img/logo-shimano.png", alt="")
            li.clients__list-item.clients__item
                span.clients__item-logo
                    img(src="img/logo-swatch.png", alt="")
            li.clients__list-item.clients__item
                span.clients__item-logo
                    img(src="img/logo-virgin.png", alt="")
            li.clients__list-item.clients__item
                span.clients__item-logo
                    img(src="img/logo-vodafone.png", alt="")
            li.clients__list-item.clients__item
                span.clients__item-logo
                    img(src="img/logo-anz.png", alt="")