section.reviews.section.theme_bg__gray
    div.container-fluid
        header.section__l_header
            h2.reviews__heading.section__heading.mod_typing Some happy clients
        ul.reviews__list
            li.reviews__list-item.reviews__item
                blockquote.reviews__item-desc GeekPowr is a rock solid development team. They combine an innate instinct for good design with a keen understanding of real world business challenges—they also happen to produce wonderful, beautiful work. I’m a fan.
                small.reviews__item-author
                    | Khah Vih, VP User Experience at
                    a(href="") Wildcard
            li.reviews__list-item.reviews__item
                blockquote.reviews__item-desc GeekPowr is a rock solid development team. They combine an innate instinct for good design with a keen understanding.
                small.reviews__item-author
                    | Khah Vih, VP User Experience at
                    a(href="") Wildcard
            li.reviews__list-item.reviews__item
                blockquote.reviews__item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus nobis earum vero rerum eum laboriosam qui possimus eaque nihil. Vitae porro, dolorem quod voluptas eos voluptate mollitia repudiandae amet sapiente!
                small.reviews__item-author
                    | Khah Vih, VP User Experience at
                    a(href="") Wildcard