head
	title This is a new great site
	meta(charset="utf-8")
	meta(name="viewport" content="width=960, minimal-ui")
	meta(name="format-detection" content="telephone=no")

	//- link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
	//- link(rel="apple-touch-icon" href="static/img/apple-touch-icon-precomposed.png")
	//- link(rel="icon" href="static/img/favicon.png")
	//- <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
	//- meta(name="msapplication-TileColor" content="#000")
	//- meta(name="msapplication-TileImage" content="static/img/tileicon.png")

	<!-- build:css -->
	link(rel="stylesheet" href="css/style.css" media="all")

	link(rel="stylesheet" href="css/plugins/jquery.fullPage.css" media="all")
	link(rel="stylesheet" href="css/plugins/slick.css" media="all")
	<!-- endbuild -->