<!-- build:js -->
script(src="js/libs/jquery.min.js")

script(src="js/plugins/jquery.fullPage.js")
script(src="js/plugins/slick.js")

script(src="js/common.js")
script(src="js/components.js")
<!-- endbuild -->