section.about.section.theme_bg__blue
    div.container-fluid
        header.section__l_header
            h2.about__heading.section__heading.mod_typing About GeekPowr
            p.about__desc.section__desc GeekPowr is creating custom complex web software for data mining, web intelligence, analytics and business process automatization.
        a(href="").btn.theme_v1.mod_white See our works
