div.works
    ul.works__list
        li.works__list-item.works__item
            div.works__item-wrap
                a(href="").works__item-logo
                    img(src="img/logo-github.png", alt="")
                p.works__item-desc Inspired to start contributing to open source projects on GitHub? Excellent! Here’s an overview and tutorial on how to get started with GitHub.
        li.works__list-item.works__item
            div.works__item-wrap
                a(href="").works__item-logo
                    img(src="img/logo-dribble.png", alt="")
                p.works__item-desc Inspired to start contributing to open source projects on GitHub? Excellent! Here’s an overview and tutorial on how to get started with GitHub.