/* COMMON */
@font-face {
  font-family: "asm_regular";
  src: url("fonts/asm_regular-webfont.woff") format("woff"), url("fonts/asm_regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "asm_bold";
  src: url("fonts/asm_bold-webfont.woff") format("woff"), url("fonts/asm_bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ptsans_italic";
  src: url("fonts/ptsans_italic-webfont.woff") format("woff"), url("fonts/ptsans_italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html {
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
  margin: 0; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent;
  -webkit-tap-highlight-color: transparent; }

a:active,
a:hover {
  outline: 0; }

img {
  border: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

i,
em,
dfn {
  font-style: italic; }

blockquote {
  margin: 1em 40px; }

mark {
  background: #ff0;
  color: #000; }

p {
  margin: 0 0 1em; }
  p:last-child {
    margin-bottom: 0; }

address {
  font-style: normal; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

ol,
ul,
menu {
  margin: 1em 0;
  padding: 0; }

hr {
  box-sizing: content-box;
  height: 0; }

ul {
  list-style-position: inside; }

dd {
  margin: 0 0 0 40px; }

fieldset {
  background: none;
  border: none; }

form,
fieldset,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0; }

input,
select,
textarea,
button {
  font: 12px Arial, Helvetica, sans-serif;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button {
  overflow: visible;
  vertical-align: top; }

button::-moz-focus-inner {
  padding: 0;
  border: none; }

button,
input[type="submit"],
input[type="button"] {
  cursor: pointer; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

legend {
  border: 0;
  padding: 0; }

optgroup {
  font-weight: bold; }

/*--iOS appearance input--*/
input,
textarea,
select {
  border-radius: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .8em;
  font-weight: normal;
  line-height: 1.1; }

body {
  background: #fff;
  color: #222;
  font-family: "asm_regular", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.5; }

a {
  color: #051add; }
  a.is_active {
    cursor: default; }

h1, h2, h3, h4, h5, h6 {
  font-family: "asm_regular", Arial, Helvetica, sans-serif; }

.container {
  width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px; }
  .container.mod_fluid {
    width: auto;
    padding: 0; }

.container-fluid {
  padding: 0 9%; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

body.theme_fullpage .header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0; }

body.theme_fullpage .footer {
  margin-top: -110px; }

.header {
  position: relative;
  z-index: 10;
  background-color: #081bcc;
  color: #fff; }
  .header__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0; }

.main {
  overflow: hidden; }
  .main__basic {
    overflow: hidden; }

.footer {
  position: relative;
  z-index: 10;
  height: 110px;
  background-color: #000;
  color: #fff; }
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 0 0; }
  .footer__copy {
    color: #676767;
    font-size: 14px; }

/* SHARED */
.btn {
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  line-height: 1;
  cursor: pointer; }
  .btn.theme_v1 {
    width: 230px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #081bcc;
    font-size: 16px; }
    .btn.theme_v1.mod_white {
      border-color: #fff;
      color: #fff; }

.section {
  padding: 50px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden; }
  .section__l_header {
    width: 65%;
    margin: 0 auto 50px; }
  .section__heading {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 0 1.4em;
    color: #051add;
    font-family: "asm_bold", Arial, Helvetica, sans-serif;
    font-size: 42px;
    line-height: 1.25;
    letter-spacing: .05em; }
    .section__heading:last-child {
      margin-bottom: 0; }
  .section__desc {
    font-size: 20px; }
  .section.theme_bg__gray {
    background-color: #ededed; }
  .section.theme_bg__blue {
    background-color: #081bcc;
    color: #fff; }
  .section.theme_bg__blue .section__heading {
    color: #fff; }

.fullpage__section {
  position: relative; }
  .fullpage__section:last-child {
    padding-bottom: 110px; }
  .fullpage__section .startscreen,
  .fullpage__section .works,
  .fullpage__section .reviews,
  .fullpage__section .clients,
  .fullpage__section .about {
    height: 100%; }
  .fullpage__section .footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100; }

/*descktop detection*/
@media screen and (min-width: 1024px) {
  body {
    font-size: 2.94118vh; }
    body.theme_fullpage .footer {
      margin-top: -16.17647vh; }
  .footer {
    height: 16.17647vh; }
    .footer__wrap {
      padding: 5.88235vh 0 0; }
    .footer__copy {
      font-size: 2.05882vh; }
  .btn.theme_v1 {
    width: 33.82353vh;
    height: 8.82353vh;
    line-height: 8.82353vh;
    font-size: 2.35294vh; }
  .section {
    padding: 7.35294vh 0; }
    .section__l_header {
      margin: 0 auto 7.35294vh; }
    .section__heading {
      font-size: 6.17647vh; }
    .section__desc {
      font-size: 2.94118vh; }
  .fullpage__section:last-child {
    padding-bottom: 16.17647vh; } }

@media screen and (max-height: 700px) {
  .section__l_header {
    width: 100%; } }

@media screen and (max-width: 1366px) {
  .section__l_header {
    width: 100%; } }

/*mobile detection*/
@media screen and (max-width: 960px) {
  body {
    min-width: 0; }
    body.theme_fullpage .footer {
      margin-top: 0; }
  .fullpage__section:last-child {
    padding-bottom: 0; }
  .fullpage__section .startscreen,
  .fullpage__section .works,
  .fullpage__section .reviews,
  .fullpage__section .clients,
  .fullpage__section .about {
    height: auto; } }

.fullpage-wrapper:not(.fp-destroyed) .works__item-wrap {
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  transition: opacity ease-out .6s, -webkit-transform ease-out .6s;
  transition: opacity ease-out .6s, transform ease-out .6s;
  transition: opacity ease-out .6s, transform ease-out .6s, -webkit-transform ease-out .6s;
  transition-delay: 0s; }

.fp-section.active .works__item-wrap {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0); }

.fp-section.active .works__item:nth-child(2n+1) .works__item-wrap {
  transition-delay: .6s; }

.fp-section.active .works__item:nth-child(2n+2) .works__item-wrap {
  transition-delay: .9s; }

.fullpage-wrapper:not(.fp-destroyed) .section__heading.mod_typing,
.fullpage-wrapper:not(.fp-destroyed) .startscreen__heading-chunk.mod_typing {
  opacity: 0; }

.fp-section.is_typing .section__heading.mod_typing {
  opacity: 1;
  -webkit-animation: typing 4s steps(40, end);
          animation: typing 4s steps(40, end);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.fp-section.is_typing .startscreen__heading-chunk.mod_typing {
  opacity: 1;
  -webkit-animation: typing 2s steps(26, end);
          animation: typing 2s steps(26, end);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.fp-section.is_typing .startscreen__heading-chunk.mod_typing:nth-child(1) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s; }

.fp-section.is_typing .startscreen__heading-chunk.mod_typing:nth-child(2) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s; }

.fp-section.is_typing .startscreen__heading-chunk.mod_typing:nth-child(3) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s; }

.fp-section.is_typing .startscreen__heading-chunk.mod_typing:nth-child(4) {
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s; }

@-webkit-keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

/* COMPONENTS */
.logo {
  color: #fff;
  font-family: "asm_bold", Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-decoration: none; }

/*descktop detection*/
@media screen and (min-width: 1024px) {
  .logo {
    font-size: 3.52941vh; } }

.nav__panel.is_hidden {
  display: none; }

.nav__list {
  margin: 0;
  list-style: none; }
  .nav__list-item {
    display: inline-block;
    margin: 0 1em 0 0; }
  .nav__list.theme_rtl .nav__list-item {
    margin: 0 0 0 1.65em; }

.nav__item-link {
  color: #fff;
  font-family: "asm_bold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none; }
  .nav__item-link:hover {
    text-decoration: underline; }

/*descktop detection*/
@media screen and (min-width: 1024px) {
  .nav__item-link {
    font-size: 2.64706vh; } }

.startscreen {
  background-color: #081bcc;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 25px; }
  .startscreen__wrap {
    padding: 50px 0 50px 28%;
    text-align: center; }
  .startscreen__heading {
    margin: auto;
    font-family: "asm_bold", Arial, Helvetica, sans-serif;
    font-size: 76px;
    line-height: 1.5;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: left; }
    .startscreen__heading-chunk {
      display: block;
      overflow: hidden;
      white-space: nowrap; }

/*descktop detection*/
@media screen and (min-width: 1024px) {
  .startscreen {
    font-size: 3.67647vh; }
    .startscreen__wrap {
      padding: 7.35294vh 0 7.35294vh 28%; }
    .startscreen__heading {
      font-size: 11.17647vh; } }

@media screen and (min-width: 1600px) {
  .startscreen__wrap {
    padding-left: 15%; } }

@media screen and (max-width: 1366px) {
  .startscreen__wrap {
    padding-left: 15%; } }

@media screen and (max-width: 1280px) {
  .startscreen__wrap {
    padding-left: 0; } }

/*mobile detection*/
@media screen and (max-width: 960px) {
  .startscreen__wrap {
    padding-top: 100px; } }

.works__list {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }
  .works__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%; }

.works__item {
  background-color: #000;
  color: #fff;
  padding: 50px 7% 130px; }
  .works__item-logo {
    display: inline-block;
    margin: 0 0 45px; }
  .works__item:nth-child(2n+2) {
    background-color: #0d0d0d; }

/*descktop detection*/
@media screen and (min-width: 1024px) {
  .works__item {
    padding: 7.35294vh 7% 19.11765vh; }
    .works__item-logo {
      margin: 0 0 6.61765vh; } }

/*mobile detection*/
@media screen and (max-width: 960px) {
  .works__item {
    padding: 50px; } }

.reviews__list {
  background-color: #ededed;
  margin: 0;
  list-style: none; }

.reviews__item {
  background-color: #ededed; }
  .reviews__item-desc {
    position: relative;
    width: 65%;
    margin: 10px auto 1.5em;
    padding: 85px 0 0;
    color: #222;
    font-family: "ptsans_italic", Arial, Helvetica, sans-serif;
    font-size: 30px; }
    .reviews__item-desc:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 55px;
      background: url(../img/quote1.png) 50% 10px no-repeat; }
  .reviews__item-author {
    display: block;
    color: #051add;
    font-size: 20px; }

.reviews .slick-prev, .reviews .slick-next {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 70px;
  border: none;
  text-indent: -9999px;
  opacity: .5;
  transition: opacity ease-out .3s; }
  .reviews .slick-prev:hover, .reviews .slick-next:hover {
    opacity: 1; }
  .reviews .slick-prev:focus, .reviews .slick-next:focus {
    outline: none; }

.reviews .slick-prev {
  left: -70px;
  background: url(../img/icon-arrow1.png) 0 50% no-repeat; }

.reviews .slick-next {
  right: -70px;
  background: url(../img/icon-arrow2.png) 100% 50% no-repeat; }

/*descktop detection*/
@media screen and (min-width: 1024px) {
  .reviews__item-desc {
    font-size: 4.41176vh; }
  .reviews__item-author {
    font-size: 2.94118vh; } }

@media screen and (max-height: 700px) {
  .reviews__item-desc {
    width: 100%; } }

@media screen and (max-width: 1366px) {
  .reviews__item-desc {
    width: 100%; } }

.clients__list {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .clients__list-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 16.66%;
            flex: 1 1 16.66%; }

.clients__item {
  text-align: center; }
  .clients__item-logo img {
    max-width: 90%;
    height: 115px; }

@media screen and (min-height: 800px) {
  .clients__item-logo img {
    height: 130px; } }

@media screen and (max-height: 700px) {
  .clients__item-logo img {
    height: 100px; } }

@media screen and (max-width: 1366px) {
  .clients__item-logo img {
    height: auto; } }
