nav.nav
    div.nav__toggler
    div.nav__panel
        ul.nav__list.theme_rtl
            li.nav__list-item.nav__item
                a(href="").nav__item-link Work
            li.nav__list-item.nav__item
                a(href="").nav__item-link Team
            li.nav__list-item.nav__item
                a(href="").nav__item-link Contact us